.contactDelBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  background-color: #fbbd0d;
}

.contact {
  padding: 0 15px;
}
