.form {
  width: 80%;
  margin: 20px auto;
}

.label {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 80%; */
  margin-bottom: 15px;
  font-size: 14px;
}

.title {
  margin-bottom: 5px;
}

.input {
  border: 2px solid transparent;
  border-radius: 6px;
  font-size: 14px;
  height: 30px;
  outline: none;
  padding: 0 10px;
}

.input:focus {
  border-color: #fbbd0d;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  margin: 0 15px;

  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;

  transition: background-color 0.3s linear;

  background-color: #fbbd0d;
}
