.section {
  margin: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section h1 {
  display: flex;
  justify-content: center;
  text-align: center;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}
