.contactList {
  margin: 20px;
  padding: 0;
}

.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactItem:not(:last-child) {
  margin-bottom: 10px;
}

.contactAvatar {
  padding: 10px;
  background-color: #2d2c2e;
  border-radius: 6px;
}
